// =======================  HEADER  =======================

.header {
    height: 100vh;
    background-image: url('../img/header_1920.jpg');
    background-position: 40% 20% !important;

    &__wrapper {
        position: relative;
        max-width: 1920px;
        margin: 0 auto;
    }

    &__box {
        position: absolute;
        right: 15%;
        align-items: flex-end;
    }

    &__heading-box {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    &__heading {
        font-size: 4.2rem;
        text-align: right;
    }

    &__btn {
        font-size: 3rem;
    }
}



// =======================  MAIN - USŁUGI  =======================

.services {
    .container {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    &__offer-box {
        margin: 1px;
        width: 400px;
    }
}



// MAIN - USŁUGI - OBRÓBKA SKRAWANIEM
// MAIN - USŁUGI - SPRAWANIE
// MAIN - USŁUGI - POZOSTAŁE

.machining,
.welding,
.others {
    &__wrapper {
        width: 70%;
    }

    &__heading {
        &--mobile {
            font-size: 3rem;
        }
    }
}



// =======================  MAIN - O FIRMIE  =======================

.business {
    &__wrapper {
        width: 70%;
    }
}



// =======================  MAIN - PARK MASZYNOWY  =======================

.machine-park {
    .container {
        padding-top: 7rem;
    }

    .underline {
        margin-bottom: 3rem;
    }

    &__wrapper {
        width: 75%;
    }

    &__table {
        font-size: 1.5rem;

        tr {
            td {
                padding: 2rem;
            }
        }
    }
}



// =======================  MAIN - KONTAKT  =======================

.contact {
    .container {
        padding-top: 3rem;
    }
}


// =======================  FOOTER  =======================

.footer {
    &__box {
        text-align: center;
    }
}